ABOUT BITMAP "gui/img/about.bmp"
DISTORTIONS BITMAP "gui/img/distortions.bmp"
MIDPOINT BITMAP "gui/img/midpoint_states.bmp"
KNOBSTATES BITMAP "gui/img/knob_states.bmp"
ROCKERSWITCH BITMAP "gui/img/rocker_switch.bmp"
VSTLOGO BITMAP "gui/img/vst_logo.bmp"
ZONE1 BITMAP "gui/img/zone1.bmp"
