ABOUT PNG "gui/img/about.png"
DISTORTIONS PNG "gui/img/distortions.png"
MIDPOINT PNG "gui/img/midpoint_states.png"
KNOBSTATES PNG "gui/img/knob_states.png"
ROCKERSWITCH PNG "gui/img/rocker_switch.png"
VSTLOGO PNG "gui/img/vst_logo.png"
ZONE1 PNG "gui/img/zone1.png"
